@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
        text-align: left;
        border: 2px solid var(--text);
        border-radius: 0.5em;
    }
}

@layer components {
    .card__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.5em;
        color: var(--secondary);
    }
    .card__subtitle {
        font-size: 1.125rem;
        margin-bottom: 0.75em;
    }
    .card__strong {
        font-weight: 600;
        color: var(--primary);
    }
    .card__money{
        font-size: 2rem;
        font-weight: 700;
        color: var(--primary);
    }
    .card__underline{
        text-decoration: underline;
        color: var(--primary);
        font-weight: 600;
    }
    .card__button {
        display: inline-block;
        padding: 0.75em 1.5em;
        background-color: var(--primary);
        color: #ffffff;
        text-decoration: none;
        border-radius: 0.375em;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .card__item__check {
        margin-bottom: 0.5em;
        list-style-image: url(/images/check.svg);
    }
    .card__item__cross {
        margin-bottom: 0.5em;
        list-style-image: url(/images/cross.svg);
    }
    .card__item__first {
        margin-bottom: 0.5em;
        list-style-image: url(/images/check.svg);
        color: var(--primary);
    }
    .card__list {
        padding-inline-start: 25px;
        margin-bottom: 1em;
    } 
    .card__container>p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    .card__body {
        margin-top: 1em;
    }
    .card__footer {
        margin-top: 1em;
    }
}